.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.596);
  }

  .navbar li {
    float: left;
    font-size: 14px;
    color: white;
    text-align:left;
    padding: 10px 2px;
    text-decoration: none;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  

  .dropdown .btn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar li:hover, .dropdown:hover .btn {
    background-color: gray;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

      }

  .dropdown-menu li {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-menu li:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
