.abc h1{
    margin-left:1%;
    font-weight: 650;
    color: white;
    width:100%;
    font-size:50px;
    display: flex;
  
    
}
.component-a {
    background-color: #f2f2f2;
    padding:1000px;
    border: 1px solid #ccc; 
    
  }
  
  .component-b {
    background-color: #e0e0e0;
    padding: 10px;
    border: 1px solid #999;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .grid-item {
    background-color: lightblue;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  /* StudentInfo.css */
/* .student-info {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.info {
  display: flex;
  margin-bottom: 10px;
}

.label {
  width: 120px;
  font-weight: bold;
}

.value {
  flex: 1;
} */

/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-image: url('./studenthomepage.jpg'); Adjust the image path */
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.header {
  color: white;
  padding: 10px;
  text-align: center;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.student-profile {
  
  background-color:var(0);
  color:#FFBF00;
  padding: 10px;
  border-radius: 5px;
  width: 180px;
  height: 230px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.student-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin: 20px 25px;
  margin-top: -45%;
}

.navbar {
  background-color: #f5f5f5;
  padding: 52px;
  border-radius: 19px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: -65%;
}

.navbar ul {
  list-style:square;
  padding:10%;
  margin: 0;
}

.navbar li {
  cursor: pointer;
  padding: 15% 00;
  font-weight: bold;
}

.content {
  flex: 2;
  padding:10px;
  height: fit-content;
  border-radius: 50px;
  box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.1);
}


/* StudentInfo.css */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.profile-column {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.content-column {
  flex:5;
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.logout-button logout
{
  color: black;
width: 100px;
position: relative;
  top: 0px;
  left: 1150px;
 
  
}

/* Rest of your CSS styles */

